.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
  position: relative;
}

.banner > img {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.informs {
  position: absolute;
  color: rgba(255, 255, 255, 1);

  bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
.informs > h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.informs > p {
  color: rgba(144, 144, 144, 1);
  width: 800px;
  font-size: 14.4px;
  margin-left: 10px;
  margin-bottom: 30px;
 
}

.informs > button {
  background-color: rgba(7, 97, 226, 1);
  color: rgba(255, 255, 255, 1);
  padding: 5px;
  width: 70px;
  margin-left: 10px;
  margin-bottom: 15px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.dashed {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-left: 15px;
  margin-top: 35px;
}

.dashed > div {
  min-width: 50px;
  min-height: 5px;
  border-radius: 10px;
  background-color: rgba(34, 34, 34, 1);
  cursor: pointer;
}

.active {
  background-color: rgba(255, 255, 255, 1);
}
